# The exact service account email to use for backend impersonation.
# You can obtain this value from the `backend_impersonate_service_account` output 
# after applying the bootstrap module.
impersonate_service_account = "terraform-state@your-gcp-project-id.iam.gserviceaccount.com"

# The name of the GCS bucket where the state file will be stored.
# You can obtain this value from the `backend_bucket_name` output of the bootstrap module.
bucket = "your-globally-unique-tfstate-bucket"

# The folder path within the GCS bucket where this specific state file will live.
# Highly recommended to isolate state files and prevent different Terraform components
# or environments (e.g., dev vs prod) from overwriting each other.
# Example: "vaultwarden/prod"
prefix = "vaultwarden/prod"
