#!/bin/bash
mkdir -p /var/vaultwarden/data
docker network inspect vaultwarden-net >/dev/null 2>&1 || \
    docker network create vaultwarden-net # Create network if it doesnt exist

get_secret() {
  local name="$1"
  local token

  token="$(curl -sf -H "Metadata-Flavor: Google" \
    "http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/token" \
    | jq -r '.access_token')"

  [[ -z "$token" || "$token" == "null" ]] && return 1

  curl -sf -H "Authorization: Bearer $${token}" \
    "https://secretmanager.googleapis.com/v1/projects/${gcp_project_id}/secrets/$${name}/versions/latest:access" \
    | jq -r '.payload.data' \
    | base64 -d
}

# Launch Vaultwarden
# Add  "-e DISABLE_ICON_DOWNLOAD=true \"  # in case you need to disable icons to save traffic
docker run -d \
  --name vaultwarden \
  --restart always \
  --network vaultwarden-net \
  -v /var/vaultwarden/data:/data \
  -e SIGNUPS_ALLOWED=false \
  -e WEBSOCKET_ENABLED=true \
  -e ICON_SERVICE=internal \
  -e ICON_CACHE_TTL=2592000 \
  -e ADMIN_TOKEN="$(get_secret admin_token_hash || { sleep 10; get_secret admin_token_hash; } )" \
  vaultwarden/server:"${vaultwarden_server_version}"

sleep 10

# Launch Cloudflare Tunnel (Connects out to CF, routes to vaultwarden container)
docker run -d \
  --name cloudflared \
  --restart always \
  --network vaultwarden-net \
  cloudflare/cloudflared:${cloudflared_version} tunnel --no-autoupdate run --token "$(get_secret vault_tunnel_token || { sleep 10; get_secret vault_tunnel_token; })"

# Launch the Offsite Backup Engine
docker run -d \
  --name vaultwarden_backup \
  --restart always \
  --network vaultwarden-net \
  -v /var/vaultwarden/data:/data \
  -e DATA_DIR=/data \
  -e ZIP_TYPE=zip \
  -e CRON_EXPRESSION="${backup_chron}" \
  -e BACKUP_KEEP_DAYS="${backup_keep_days}" \
  -e BACKUP_ENCRYPTION_KEY="$(get_secret "backup_pass")" \
  -e STORAGE_TYPE=s3 \
  -e AWS_ACCESS_KEY_ID="$(get_secret r2_key_id || { sleep 10; get_secret r2_key_id; })" \
  -e AWS_SECRET_ACCESS_KEY="$(get_secret r2_key || { sleep 10; get_secret r2_key; })" \
  -e S3_ENDPOINT="https://${cf_account_id}.r2.cloudflarestorage.com" \
  -e S3_BUCKET="${backup_bucket_name}" \
  ttionya/vaultwarden-backup:"${vaultwarden_backup_version}"
